#Mac
.DS_Store

#Gradle
/.gradle/
/build/
.gradletasknamecache
local.properties

#Intellij
/out/
/.idea/
*.iml

# Eclipse
/.classpath
/.project
/.settings/
/bin/

#Project libs
/sonarqube-lib/

#VSCode
.project
.history
